body {
  margin: 0;
  font-family: Arial, sans-serif;
 
  color: #333;
}

/* Navbar */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 10;
  background: rgba(0, 0, 0, 0.3); /* semi-transparent background */
  backdrop-filter: blur(6px);
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 12px;
}
.nav-logo {
  height: 40px;
}

.nav-title {
  font-size: 22px;
  font-weight: bold;
}

.nav-right a {
  margin-left: 200px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.nav-right a:hover {
  color: #ff9800;
}

/* Dashboard */
.dashboard {
  padding: 40px;
}

.dashboard h1 {
  margin-bottom: 20px;
  color: white;
}

/* Cards */
.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(8px);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.3);
  flex: 1;
  min-width: 250px;
  color: white;
  font-size: 18px;
}
.grids {
  display: grid;
  grid-template-columns:100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  gap: 20px;
}